<%- include("header") -%>

<section id="home-hero" class="black">
  <article>
    <h1>Create and share your photo stories</h1>
    <p>
      Photosnap is a platform for photographers and visual storytellers. We make
      it easy to share photos, tell stories and connect with others.
    </p>
    <div href="" class="arrow-btn invite-btn">Get an invite <div class="arrow"></div></div>
  </article>
  <div id="hero-image" class="img-large"></div>
</section>

<section id="home-beautiful">
      <article>
            <h2 class="large-font">Beautiful stories every time</h1>
            <p>
                  We provide design templates to ensure your stories look terrific. Easily add photos, text, embed maps and media from other networks. Then share your story with everyone.
            </p>
            <a href="/stories" class="black-arrow-btn">View the stories <div class="black-arrow"></div></a>
      </article>
      <div id="beautiful-image" class="img-large"></div>
</section>

<section id="home-designed">
      <article>
            <h2 class="large-font">Designed for everyone</h1>
            <p>
                 Photosnap can help you create stories that resonate with your audience. Our tool is designed for photographers of all levels, brands, businesses, you name it.
            </p>
            <a href="/stories" class="black-arrow-btn">View the stories <div class="black-arrow"></div></a>
      </article>
      <div id="designed-image" class="img-large"></div>
</section>

<section id=home-read-story>
<div class="read-story" id="read-story-1">
      <h2>The Mountains</h2>
      <h4>by John Appleseed</h3>
      <div href="" class="arrow-btn read-btn" data-url="the mountains.txt">Read Story <div class="arrow"></div></div>
</div>

<div class="read-story" id="read-story-2">
      <h2>Sunset Cityscapes</h2>
      <h4>by Benjamin Cruz</h3>
      <div href="" class="arrow-btn read-btn" data-url="sunset cityscapes.txt">Read Story <div class="arrow"></div></div>
</div>

<div class="read-story" id="read-story-3">
      <h2>18 Days Voyage</h2>
      <h4>by Alexei Borodin</h3>
      <div href="" class="arrow-btn read-btn" data-url="18 days voyage.txt">Read Story <div class="arrow"></div></div>
</div>

<div class="read-story" id="read-story-4">
      <h2>Architecturals</h2>
      <h4>by Samantha Brooke</h3>
      <div href="" class="arrow-btn read-btn" data-url="architecturals.txt">Read Story <div class="arrow"></div></div>
</div>
</section>

<section id="specifications">
      <div class="specs">
            <div class="spec-icon" id="spec-icon-1"></div>
            <h3>100% Responsive</h3>
            <p>No matter what the device you're on, our site is fully responsive and stories look beautiful on any screen.</p>
      </div>
      <div class="specs">
            <div class="spec-icon" id="spec-icon-2"></div>
            <h3>No Photo Upload Limit</h3>
            <p>Our tool has no limits on uploads or bandwith.</p>
      </div>
      <div class="specs">
            <div class="spec-icon" id="spec-icon-3"></div>
            <h3>Available to Embed</h3>
            <p>Embed Tweets, Facebook posts, Instagram media, Vimeo or YouTube videos, Google Maps, and more.</p>
      </div>
</section>

<%- include("footer") -%>
