<%- include("header") %>

<section class="contact-response">
      <h2 class="large-font">Your Payment is Successful</h1>
            <p>Welcome to the Photosnap family</p>
            <a href="/" class="sq-btn return-btn">Return to Home</a>
</section>

<%- include("footer") %>