<%- include("header") -%>

<section id="pricing-hero" class="black">
  <article>
    <h2 class="large-font">PRICING</h2>
    <p>
      Create a your stories, Photosnap is a platform for photographers and
      visual storytellers. It’s the simple way to create and share your photos.
    </p>
  </article>
  <div id="pricing-image" class="img-large"></div>
</section>

<section id="price-list">
  <div id="select-btn">
    <p>Monthly</p>
    <button class="slider"><div class="circle"></div></button>
    <p>Yearly</p>
  </div>

  <div id="basic" class="price-box">
    <h2>Basic</h2>
    <p>
      Includes basic usage of our platform. Recommended for new and aspiring
      photographers.
    </p>
    <div>
      <h2 class="large-font price">$19.00</h2>
      <p class="period">per month</p>
    </div>
    <button class="sq-btn black plan-btn">Pick Plan</button>
  </div>

  <div id="pro" class="price-box black">
    <h2>Pro</h2>
    <p>
      More advanced features available. Recommended for photography veterans and
      professionals.
    </p>
    <div>
      <h2 class="large-font price">$39.00</h2>
      <p class="period">per month</p>
    </div>
    <button class="sq-btn plan-btn">Pick Plan</button>
  </div>

  <div id="business" class="price-box">
    <h2>Business</h2>
    <p>
      Additional features available such as more detailed metrics. Recommended
      for business owners.
    </p>
    <div>
      <h2 class="large-font price">$99.00</h2>
      <p class="period">per month</p>
    </div>
    <button class="sq-btn black plan-btn">Pick Plan</button>
  </div>
</section>

<section id="compare">
  <h2 class="large-font">Compare</h2>
  <div class="comparison-table">
    <h3>The Features</h3>
    <div class="price-heading">
      <h3>Basic</h3>
      <h3>Pro</h3>
      <h3>Business</h3>
    </div>
    <p>Unlimited Story Posting</p>
    <div class="checklist">
      <div class="check tick"></div>
      <div class="check tick"></div>
      <div class="check tick"></div>
    </div>
    <p>Unlimited Photo Upload</p>
    <div class="checklist">
      <div class="check tick"></div>
      <div class="check tick"></div>
      <div class="check tick"></div>
    </div>
    <p>Embedding Custom Content</p>
    <div class="checklist">
      <div class="check"></div>
      <div class="check tick"></div>
      <div class="check tick"></div>
    </div>
    <p>Customize Metadata</p>
    <div class="checklist">
      <div class="check"></div>
      <div class="check tick"></div>
      <div class="check tick"></div>
    </div>
    <p>Advanced Metrics</p>
    <div class="checklist">
      <div class="check"></div>
      <div class="check"></div>
      <div class="check tick"></div>
    </div>
    <p>Photo Downloads</p>
    <div class="checklist">
      <div class="check"></div>
      <div class="check"></div>
      <div class="check tick"></div>
    </div>
    <p>Search Engine Indexing</p>
    <div class="checklist">
      <div class="check"></div>
      <div class="check"></div>
      <div class="check tick"></div>
    </div>
    <p>Custom Analytics</p>
    <div class="checklist">
      <div class="check"></div>
      <div class="check"></div>
      <div class="check tick"></div>
    </div>
  </div>
</section>

<section id="beta">
  <h2 class="large-font">We're in Beta. Get your invite today!</h2>
  <button href="" class="arrow-btn invite-btn">
    Get an invite
    <div class="arrow"></div>
  </button>
</section>

<%- include("footer") -%>
